/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
--main-font-family: 'IBM Plex mono'; 
--accent-color: #ff0070;
--title-color: #db00ff;
--card-text-color: #f1b2ce;
--background-color: #000028;
}